#twoTable{
	width: 100%;
	margin: auto;
}
table {
	border-collapse:collapse;
	position: relative;
	z-index: 3;		
}
#table1{
	float: left;
	margin-left: 20%
}
#table2 {
	float: right;
	margin-right: 20%;
}

table td {
	padding: 0;
	border: 1px solid #b4b4ff;
	position: relative;
}
div.ship_r {
	border: 3px solid #00f;
	background: rgba(0,0,255,.05);
	height: 2em;
	width: 10em;
	z-index: 1;
	margin: -2px;
    left: 0;
    top: 0;
	position: absolute;
}
div.ship_draggable {
	cursor: move;

}
.outside_cell {
	border: 0;
	text-align: center;
}
.ship_content {
	width: 2em;
	height: 2em;
	z-index: 2;
}
#table2 td {

}
.start-button {
	border: 1px solid #d6d6d6;
    background: #d5efd6;
    background: linear-gradient(to bottom,rgba(225,250,225,1) 0,rgba(195,222,197,1) 100%);
    margin: 1em 0 0;
    padding: .2em .8em;
    font-size: 1.32em;
    box-shadow: 0 2px 6px rgba(0,0,0,.25);
    line-height: 1;
    font-family: inherit;
    cursor: pointer !important;
    outline: 0;
    display: inline-block;
}
span.left{
	content: "";
	position: absolute;
	z-index: -1;
	background: red;
	transform: rotate(-45deg);
	top: 50%;
	height: 2px;
	left: -25%;
	width: 150%;
	margin-left: -1px;
	visibility: hidden;

}
span.right{
	content: "";
	position: absolute;
	z-index: -2;
	background: red;
	transform: rotate(45deg);
	top: 50%;
	height: 2px;
	left: -25%;
	width: 150%;
	margin-left: -1px;
	visibility: hidden;

}

/*body {
	background-color: red;
}*/