.header {
	width: 60%;
	margin: auto;
}
#gid {
	display: none;
}
.notification {
	background: #f8f8f8;
	padding: .5em;
	overflow: hidden;
	position: relative;
	width: 40%;
	margin: auto;
}

#twoTable{
	width: 100%;
	margin: auto;
	margin-top: 50px;
}
table {
	border-collapse:collapse;
	position: relative;
	z-index: 3;		
}
/*#table1{
	float: left;
	margin-left: 20%
}
#table2 {
	float: right;
	margin-right: 20%;
}*/
#table2 {
	opacity: 0.4;
}
.divLeft {
	float: left;
	margin-left: 20%
}
.divRight {
	float: right;
	margin-right: 20%;
}

table td {
	padding: 0;
	border: 1px solid #b4b4ff;
	position: relative;
}

#table1 div.ship_r {
	border: 3px solid #00f;
	background: rgba(0,0,255,.05);
	height: 2em;
	width: 2em;
	z-index: 1;
	margin: -2px;
    left: 0;
    top: 0;
	position: absolute;
}
#table2 div.ship_r {
	border: 2px solid #36e868;
	background: rgba(0,0,255,.05);
	height: 2em;
	width: 2em;
	z-index: 1;
	margin: -2px;
    left: 0;
    top: 0;
	position: absolute;
	visibility: hidden;
}
div.ship_draggable {
	cursor: move;

}
.outside_cell {
	border: 0;
	text-align: center;
}
.ship_content {
	width: 2em;
	height: 2em;
	z-index: 1;
}
.start-button {
	border: 1px solid #d6d6d6;
    background: #d5efd6;
    background: linear-gradient(to bottom,rgba(225,250,225,1) 0,rgba(195,222,197,1) 100%);
    margin: 1em 0 0;
    padding: .2em .8em;
    font-size: 1.32em;
    box-shadow: 0 2px 6px rgba(0,0,0,.25);
    line-height: 1;
    font-family: inherit;
    cursor: pointer !important;
    outline: 0;
    display: inline-block;
    position: absolute;
}
.battlefield-start-button__disabled {
    cursor: default !important;
    opacity: .5;
    pointer-events: none;
}
span.left{
	content: "";
	position: absolute;
	z-index: -1;
	background: red;
	transform: rotate(-45deg);
	top: 50%;
	height: 2px;
	left: -25%;
	width: 150%;
	margin-left: -1px;
	visibility: visible;

}
span.right{
	content: "";
	position: absolute;
	z-index: -2;
	background: red;
	transform: rotate(45deg);
	top: 50%;
	height: 2px;
	left: -25%;
	width: 150%;
	margin-left: -1px;
	visibility: visible;

}
span.dot{
	position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    background: #333;
    border-radius: 50%;
    margin-top: -2px;
    margin-left: -2px;
}
.battlefield-start-choose_rival{
	float: right;
	z-index: 3;
	position: absolute;
	left: 10%;
	top: 15%;
	width: 20em;
}
.divRight {
	position: relative;
}
.ulOpponent {
	list-style-type: none;
	padding-left: 0;
}
.start-li {
	display: inline;
	margin-left: -.32em;
	margin-right: .25em;
}
.rival-variant-link {
	cursor: pointer !important;
	padding: .12em .32em;
}
.rival-variant-link_connect{
	background: #eee;
	text-decoration: none;
	color: #000;
	cursor: text !important;
}
a {
	color: #0034ab;
}
/*body {
	background-color: red;
}*/